<div class="container px-3 text-center">
    <div class="row" style="background-color:floralwhite;">
      <!-- image -->
       <div class="col">
            <img
              src="{{selectedProduct?.image }}"
              class="card-img-top"
              alt="..." style="width: 250px;"
            />
        </div>
             <!-- title and description -->
        <div class="col" style="margin: auto;">
            <h3>{{ selectedProduct?.title }}</h3>
            <p>{{ selectedProduct?.description }}</p>
        </div>
    </div>
</div>
  
  