 <!-- <div class="row mt-5 w-75">
    <input type="text" class="form-control" [(ngModel)]="searchValue"/>
    <h4>{{searchValue}} </h4>
 </div> -->
    <div class="row mt-4"> 
    <div class="card col-lg-4 mx-2"
     *ngFor="let product of Allproducts" 
     style="width:250px ;background-color:antiquewhite;">
       <a [routerLink]="['/productsdetails',product.id]">
           
         <img
        src= {{product.image}}
       class="card-img-top" 
       alt="..."
       />
       </a> 
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text " *ngIf="product.showDetails">
            {{product. description}}
          </p>
          <button class="btn btn-secondary mx-1">Buy</button>
          <button class="btn btn-success" (click)="toggleDescripion(product.id)">
            {{product.showDetails?'Hide':'Show'}}Details</button>
        </div>
      </div>

</div>
